body {
    background-color: #EBDEBD;
}

p {
    color: yellow;
}

h1 {
    color: white;
}

table {
    border: 6px solid black;
    border-collapse: collapse;
}

td {
    border: 3px solid lightgray;
}

.logo {
    border: 1px solid brown;
    background: aquamarine;
}